PORT=5000
SUPABASE_URL=https://aeqlgglnamekyycrchbh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlcWxnZ2xuYW1la3l5Y3JjaGJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4Mjg2MjksImV4cCI6MjA5OTQwNDYyOX0.qBRYTV43NqrCaZO0qYgyiyHw_J-5bmlvDF4bhgwuu70
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlcWxnZ2xuYW1la3l5Y3JjaGJoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzgyODYyOSwiZXhwIjoyMDk5NDA0NjI5fQ.GII5SIRaF07GJbFmszfQGxjivQptZ9CnG40pY9Z-Aoc
